<div class="container" *ngIf="isSelectedGame">

    <h1 class="X-or-O">{{ isDone ? 'Draw' : 'Turn: ' + (isPlayerOne ? 'X' : 'O') }}</h1>
    
    <h1 class="winner" *ngIf="isWinner">{{ !isPlayerOne ? 'X' : 'O' }} won!!</h1>
    <app-square
        *ngFor="let item of squares; let i = index"
        [isX]="item"
        (click)="isWinner || activeButtons ? null : selectSquare(i)"
    />
    <button *ngIf="isDone || isWinner" (click)="newGame()">
        Reset game
    </button>
</div>

<app-signalr-connection-input 
    *ngIf="!isSelectedGame"
    (onMatchIdEvent)="onMatchId($event)" 
    (onActiveButtons)="onActiveButtons($event)"
    (onGameSelected)="onGameSelected($event)"
>
</app-signalr-connection-input>
