.square {
    width: 150px;
    height: 150px;
    background-color: darkslategrey;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 100px;
}

.square-disabled {
    background-color: rgb(37, 63, 63);
}